*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    
} 
.flex-item{
    width: calc(50%);
    color: white;
    height: 50px;    
    line-height: 50px;
    padding-left: 20px;
    background-color: black;
    justify-content: flex-start;
}
@media screen and (max-width: 768px) {
.flex-item{
    width: calc(100%);
}
}