* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.flex-container {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.flex-item{
    width: calc(
    25% - 10px
  ); 
    height: 100px;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 100px;
    border-radius: 5px;
}